textarea {
    width: 100%;
    border: 0.05rem solid #C9C9C9;
    border-radius: 0.25rem;
    padding: 0.5rem;
    box-sizing: border-box;
    resize: vertical;
}

textarea:focus {
    border: 0.1rem solid #51AA2E;
    outline: none;
}

textarea:active {
    outline: none;
    border: 0.1rem solid #51AA2E;
}

.contentWraper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.formWraper {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.datagrid__small {
    max-width: 1000px;
    width: 100%;
    margin: 5px;
    max-height: calc(100vh - 100px);
}

.datagrid__small__pt195 {
    max-width: 1000px;
    margin: 5px;
    width: 100%;
    max-height: calc(100vh - 195px);
}

.datagrid__medium {
    max-width: 1500px;
    width: 100%;
    margin: 5px;
    max-height: calc(100vh - 100px);
}

.datagrid__medium__pt195 {
    max-width: 1500px;
    width: 100%;
    margin: 5px;
    max-height: calc(100vh - 195px);
}

.datagrid__max {
    width: 100%;
    margin: 5px;
    max-height: calc(100vh - 100px);
}

.datagrid__max__pt195 {
    width: 100%;
    margin: 5px;
    max-height: calc(100vh - 195px);
}

.h-100px{
    height: calc(100vh - 100px) !important;
}
.h-195px{
    height: calc(100vh - 195px) !important;
}

.h-200px {
    height: calc(100vh - 200px) !important;
}

.h-250px {
    height: calc(100vh - 250px) !important;
}

.h-260px {
    height: calc(100vh - 260px) !important;
}

.h-280px {
    height: calc(100vh - 280px) !important;
}

.h-auto {
    height: auto !important;
}

.topToolbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #808080;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    min-height: 45px;
}
